.git
.github
.gitignore
.idea
.vscode
.fleet
.zed
.nova
node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.phpactor.json
Homestead.json
Homestead.yaml
Thumbs.db
*.log
auth.json
tests
docker-compose*.yml
Dockerfile
.dockerignore
render.yaml
Procfile
README.md
